*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #FFC0CB;
}

.form{
    width: 250px;
    height: 330px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 25px;
    border-radius: 10px;

}

.form h1{
    width: 220px;
    text-align: center;
    padding-left: 11px;
    font-size: 35px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}

.form p{
    padding-bottom: -15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aquamarine;
    letter-spacing: 1px;
}

.form input{
    width: 100%;
    padding-top: 5px;
    height: 35px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid 	#E0FFFF;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 15;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.form input[type="submit"]
{
    width: 60%;
    margin-left: 50px;
    border: none;
    height: 40px;
    color: black;
    background: wheat;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

.form input[type="submit"]:hover{
    cursor: pointer;
    background: paleturquoise;
    color: black;
}