.button[type="submit"]
{
    width: 60%;
    margin-left: 50px;
    border: none;
    height: 40px;
    color: black;
    background: wheat;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

.button[type="submit"]:hover{
    cursor: pointer;
    background: paleturquoise;
    color: black;
}